---
import MainLayout from '../layouts/MainLayout.astro'
---
<MainLayout>
    <section class="min-h-screen max-w-screen bg-slate-800 p-2" data-background="dark">
        <!-- <div class="py-3 bg-gradient-to-r from-transparent to-black">
            <ul class="flex min-w-screen gap-x-5">
                <li>Frontend</li>
                <li>Developer</li>
                <li>UI</li>
                <li>Graphic Design</li>
            </ul>

        </div> -->
    </section>
    <section class="min-h-screen max-w-screen bg-slate-200"></section>
</MainLayout>