---
import MainLayout from "../layouts/MainLayout.astro";
import SorozcoMain from "../assets/icons/SorozcoType.astro"

let icons = [
  {name:'FrontEnd Developer', },
  {name:'•'},
  {name:'Graphic Designer'},
  {name:'•'},
  {name:'FrontEnd Developer', },
  {name:'•'},
  {name:'Graphic Designer'},
  {name:'•'},
]
---

<MainLayout>
  <section
    class="min-h-screen w-ful flex flex-col justify-center bg-slate-800 p-2"
    data-background="dark"
  >
  <div class="text-white px-10 w-full max-w-screen-lg mx-auto">
    <SorozcoMain />
  </div>
    <div
      class="py-3 flex justify-center items-center self-end gap-x-6 marqueeSection w-full px-6 max-w-screen-lg overflow-x-clip mx-auto"
    >
      <ul class="flex gap-x-6 items-center text-white font-bold text-xl md:text-5xl will-change-transform italic">
        { icons.map(icon => (
          <li class="marqueeInitial text-nowrap animate-ping">{icon.name}</li>
        ))}
      </ul>
      <ul class="flex gap-x-6 items-center text-white font-bold text-xl md:text-5xl will-change-transform italic">
        { icons.map(icon => (
          <li class="marqueeInitial text-nowrap animate-ping">{icon.name}</li>
        ))}
      </ul>
    </div>
  </section>
  <section class="min-h-screen max-w-screen bg-slate-200"></section>
</MainLayout>

<style>

  @keyframes marqueeInitial {
    0% {
      transform: translateX(-1.2rem);
    }
    100% {
      transform: translateX(-905px);
    }
    
  }

  .marqueeInitial {
    animation: marqueeInitial 10s linear infinite;
  }
  .marqueeSection {
    mask-image: linear-gradient(to left, transparent, black 80%, transparent);
  }
</style>
