---
import MainLayout from "../layouts/MainLayout.astro";
import AboutMe from "../components/About.astro"
import HeaderSection from "../components/HeaderSection.astro"
import Portfolio from "../components/Portfolio.astro"
import MainIcon from "../assets/icons/MainIcon.astro";
---

<MainLayout title="Sergio Orozco | Frontend Developer" description="Web Portfolio">
  <HeaderSection />
  <div class="pb-10 px-6">
    <AboutMe />
    <Portfolio/>
    <footer class="pb-5 wrapper">
      <section class="bg-slate-300 border border-slate-400 text-white flex justify-between items-center rounded-lg p-4">
        <div class="size-10 rounded-full p-2 bg-slate-900 text-white">
          <MainIcon/>
        </div>
        <a class="py-2 bg-slate-400 rounded-md px-5 text-slate-800 font-bold hover:bg-blue-300 transition-colors duration-300" href="http://" target="_blank" rel="noopener noreferrer">Download Resume</a>
      </section>
    </footer>
  </div>
</MainLayout>
