---
import MainLayout from "../layouts/MainLayout.astro";
import AboutMe from "../components/About.astro"
import HeaderSection from "../components/HeaderSection.astro"
import Portfolio from "../components/Portfolio.astro"
---

<MainLayout title="Sergio Orozco | Frontend Developer" description="Web Portfolio">
  <HeaderSection />
  <div class="pb-10 px-6">
    <AboutMe />
  </div>
  <Portfolio/>
</MainLayout>
