---
import MainLayout from "../layouts/MainLayout.astro"
---

<MainLayout title="Sergio Orozco | Portfolio" description="Web Projects">
    <section class="wrapper p-2 mt-10 isDark" data-background="dark">
        <h1>Portfolio</h1>
    </section>

</MainLayout>