---
import MainIcon from "../assets/icons/MainIcon.astro";
const currentYear = new Date().getFullYear();
---

<footer class="pb-5 wrapper">
  <section class="border-t border-slate-400 flex justify-between items-center p-4">
    <div class="size-10 rounded-full p-2 bg-slate-300 text-slate-500 border border-slate-500">
      <MainIcon/>
    </div>
    <p class="italic text-slate-600">Developed by <strong>Sergio Orozco</strong> - {currentYear}</p>
  </section>
</footer>