---
import SorozcoMain from "../assets/icons/SorozcoType.astro";
import Linkedin from "../assets/Linkedin.astro";
import Github from "../assets/Github.astro";

import { Image } from "astro:assets";

let Social = [
  {
    name: "Github",
    url: "https://www.linkedin.com/in/sergiorozco/",
    component: Github,
  },
  {
    name: "LinkedIn",
    url: "https://github.com/Sergioaorozco",
    component: Linkedin,
  },
];
---

<section
  class="min-h-svh flex flex-col gap-y-6 justify-center items-center bg-stone-900 p-2 changeW clipBackground relative"
  data-background="dark"
>
  <article class="text-white px-10 w-full max-w-screen-lg mx-auto">
    <SorozcoMain />
    <span
      class="py-3 w-full flex flex-col md:flex-row justify-center items-center gap-2"
    >
      <p class="font-bold text-lg md:text-5xl text-white italic">
        Frontend Developer
      </p>
    </span>
  </article>
  <div class="w-full mx-auto py-9 absolute bottom-0 bg-black/20">
    <div
      class="flex flex-col md:flex-row gap-2 items-center justify-center md:justify-between w-10/12 mx-auto"
    >
      <!-- Company Information -->
      <a
        href="https://sproutloud.com"
        target="_blank"
        class="flex gap-x-2 text-white hover:underline order-1 md:order-none"
      >
        <ul class="flex items-center justify-center">
          <li
            class="size-3 bg-green-500 border-2 border-green-400 rounded-full absolute"
          >
          </li>
          <li class="size-5 bg-green-500 rounded-full animate-ping"></li>
        </ul>
        <p class="text-lg font-bold">Working at: Ansira</p>
      </a>
      <!-- Social Icons -->
      <ul class="flex items-center gap-x-6">
        {
          Social.map(({ name, url, component: Component }) => (
            <li>
              <a
                class="text-white size-7 hover:text-yellow-400 duration-300 transition-colors"
                href={url}
                aria-label={`${name} social media`}
                target="_blank"
                rel="noopener noreferrer"
              >
                <Component />
              </a>
            </li>
          ))
        }
      </ul>
      <!-- Location -->
      <div class="flex gap-x-2 items-center text-white">
        <Image
          src="/ColombianFlag.svg"
          width="28"
          height="28"
          class="size-7"
          alt="Colombian flag indicating sorozco location"
          loading="eager"
        />
        <p>Based in Medellín, Colombia</p>
      </div>
    </div>
  </div>
</section>
