---
---
<section class="wrapper">
  <h2 class="text-slate-600 text-5xl">Portfolio</h2>
  <ul class="flex flex-col md:flex-row md:h-[500px] justify-between items-center mt-3 rounded-md overflow-clip group">
    <li class="w-full h-40 md:w-1/4 hover:md:w-1/3 bg-slate-50 md:h-full transition-all duration-300 flex flex-col group-hover:brightness-75 hover:!brightness-100">
      <div class="bg-white w-full h-fit py-4 px-3">
        <p>VueJs</p>
      </div>
      <img class="object-cover h-full" src="https://www.sergiorozco.com/images/project-vueshop.webp" alt="">
    </li>
    <li class="w-full h-40 md:w-1/4 hover:md:w-1/3 bg-red-50 md:h-full transition-all duration-300 flex flex-col group-hover:brightness-75 hover:!brightness-100">
      <div class="bg-white w-full h-fit py-4 px-3">
        <p>VueJs</p>
      </div>
      <img class="object-cover h-full" src="https://www.sergiorozco.com/images/solarboard.webp" alt="">
    </li>
    <li class="w-full h-40 md:w-1/4 hover:md:w-1/3 bg-green-50 md:h-full transition-all duration-300 flex flex-col group-hover:brightness-75 hover:!brightness-100">
      <div class="bg-white w-full h-fit py-4 px-3">
        <p>VueJs</p>
      </div>
      <img class="object-cover h-full" src="https://www.sergiorozco.com/images/vueBingoPortrait.webp" alt="">
    </li>
    <li class="w-full h-40 md:w-1/4 hover:md:w-1/3 bg-blue-50 md:h-full transition-all duration-300 flex flex-col group-hover:brightness-75 hover:!brightness-100">
      <div class="bg-white w-full h-fit py-4 px-3">
        <p>VueJs</p>
      </div>
      <img class="object-cover h-full" src="https://i.postimg.cc/KvfHx1v9/Meta-Image.jpg" alt="">
    </li>
  </ul>
</section>