---
import GithubIcon from "../assets/icons/Github.astro";
import Linkedin from "../assets/icons/Linkedin.astro";
import LinkIcon from "../assets/icons/LinkIcon.astro";
---

<article class="mt-5 flex justify-between items-center rounded-lg py-4">
  <div class="flex h-10 gap-x-4 rounded-full p-1">
    <a
      href="https://github.com/Sergioaorozco"
      aria-label="Know more about Sergio Orozco on Github"
      target="_blank"
      rel="noopener noreferrer"
      class="hover:text-slate-800"><GithubIcon /></a
    >
    <a
      href="https://www.linkedin.com/in/sergiorozco/"
      target="_blank"
      aria-label="Read more about Sergio Orozco on Linkedin"
      rel="noopener noreferrer"
      class="hover:text-slate-800"><Linkedin /></a
    >
  </div>
  <a
    class="py-2 bg-slate-300 border border-slate-400 rounded-md px-5 text-slate-800 font-medium hover:bg-slate-900 hover:text-white transition-colors duration-300 flex gap-x-2"
    href="https://drive.google.com/file/d/1nWZp7ZOwks8Bs5QW5B725-24dfFSpdRR/view?usp=sharing"
    target="_blank"
    aria-label="Download Sergio Orozco's Resume"
    rel="noopener noreferrer">
    <span class="size-5 inline-block"><LinkIcon/></span> Download Resume</a>
</article>
