---
import GithubIcon from "../assets/Github.astro";
import Linkedin from "../assets/Linkedin.astro";
---

<article
  class="mt-5 bg-slate-300 flex justify-between items-center rounded-lg p-4"
>
  <ul class="flex h-12 gap-x-2 rounded-full p-2">
    <a href="https://github.com/Sergioaorozco" target="_blank" rel="noopener noreferrer"><GithubIcon/></a>
    <a href="https://www.linkedin.com/in/sergiorozco/" target="_blank" rel="noopener noreferrer"><Linkedin/></a>

  </ul>
  <a
    class="py-2 bg-slate-400 rounded-md px-5 text-slate-800 font-bold hover:bg-slate-900 hover:text-white transition-colors duration-300"
    href="http://"
    target="_blank"
    rel="noopener noreferrer">Download Resume</a
  >
</article>