---
import MainIcon from "../assets/icons/MainIcon.astro";
---
<script>
  const $navTarget = document.querySelector("#navSection") as HTMLElement;
  const $$sections = document.querySelectorAll("section[data-background='dark']");

  const intersectionOptions = {
    root: null,
    rootMargin: "0px",
    threshold: 0.1,
  };

  const observer = new IntersectionObserver((entries) => {
    entries.forEach((entry) => {
      !entry.isIntersecting ? $navTarget.classList.add("isDark") : $navTarget.classList.remove('isDark')
    });
  }, intersectionOptions);

  $$sections.forEach((darkSection) => observer.observe(darkSection));
</script>



<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link class="text-slate-200 dark:text-white" rel="icon" type="image/svg+xml" href="/favicon_sorozco.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Playwrite+NO:wght@100..400&display=swap" rel="stylesheet">
    <title>Sergio Orozco - Frontend Developer</title>
  </head>
  <body class="bg-slate-200">
    <!-- Menu Layout -->
    <nav id="navSection" class="px-6 py-2 z-10 fixed top-0 transition-colors duration-300 text-white right-0 w-full flex justify-between items-center">
      <a href="/" class="size-12 p-2 rounded-full">
        <MainIcon />
      </a>
      <ul class="navLinks flex text-xl font-semibold normal-case">
        <li><a class="hover:bg-black/40 rounded-md py-3 px-4" href="/">About</a></li>
        <li><a class="hover:bg-black/40 rounded-md py-3 px-4" href="/portfolio">Portfolio</a></li>
      </ul>
    </nav>
    <slot></slot>
  </body>
</html>

<style is:global>
  .isDark { 
    @apply text-slate-500 bg-slate-200/25 backdrop-blur-md md:backdrop-blur-none md:bg-transparent;
    a {
      @apply hover:bg-slate-300 rounded-md transition-colors duration-200;
    }
   }
  .isLigth {
    @apply text-white;
   }
  body {
    font-family: "Barlow", sans-serif;
  }
  .handText {
    font-family: "Playwrite NO", cursive;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
  }

  @keyframes reveal {
    from {
      opacity: 0;
      transform: translateY(10em);
    }
    to{
      opacity: 1;
    }
  }

  @keyframes changeWidth {
    0% {
      margin-inline: 0em;
    }
    20%,100% {
      margin-inline: 1em;
      border-bottom-left-radius: 3em;
      border-bottom-right-radius: 3em;
      @apply bg-blue-900 duration-700;
    }
  }

  @keyframes marqueeInitial {
    0% {
      transform: translateX(-1.2rem);
    }
    100% {
      transform: translateX(-940px);
    }
    
  }

  @keyframes revealTools {
      0%, 80%, 100% {transform: translateY(0em);}
      40% {transform: translateY(-6em);}
      60% {transform: translateY(-1em);}
    }
  
  
  .revealTools {
    animation: revealTools ease normal;
    animation-timeline: view();
    animation-range: entry 10% contain 50%;
  }

  .clipBackground {
    clip-path: view-box;
  }

  .wrapper {
    max-inline-size: 1500px;
    margin: 0 auto;
  }

  .reveal{
    animation: reveal ease-in-out both;
    animation-timeline: view(block);
    animation-range: entry 10% contain 30%;
  }

  .changeW {
    animation: changeWidth linear both;
    animation-timeline: view(block);
    animation-range: exit 0% cover 100%;
  }

  .marqueeInitial {
    animation: marqueeInitial 10s linear infinite;
  }
  .marqueeSection {
    mask-image: linear-gradient(to left, transparent, black 80%, transparent);
  }

</style>
